/* #clickBtn {
  flex-grow: 1; 
  text-align: center;
  display: block;
  margin: 20px auto;
  background-color: #304060;
  color: white;
  border: 0;
  padding: 6px 10px;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  font-size: 22px;
} */
#clickBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #304060;
  color: white;
  border: 0;
  padding: 6px 10px;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  font-size: 22px;
}
#clickBtn:hover {
  background-color: #405070;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
/* #loginButton {
  display: block;
  margin: 20px auto;
  background-color: #2a3b99;
  color: white;
  border: 0;
  padding: 6px 10px;
  width: 340px;
  height: 70px;
  border-radius: 10px;
  font-size: 18px;
} */
#loginButton, #sign-out-button {
  background-color: transparent; /* 背景なし */
  color: #2a3b99; /* 文字色 */
  border: 2px solid #2a3b99; /* 枠線を追加 */
  padding: 10px 15px;
  width: 315px;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
#loginButton:hover, #sign-out-button:hover {
  background-color: #2a3b99; /* 枠と同じ色の背景 */
  color: white; /* 文字を白に */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
#loginButton {
  margin-left: auto; /* 右端に配置 */
}
#sign-out-button {
  margin: 0 20px;
  width: 200px;
}
#buttonContainer {
  /* align-items: center;
  justify-content: center; */
  display: flex;
  align-items: center;
  justify-content: space-between; /* ボタンとユーザー名を左右に配置 */
  width: 100%; /* 親コンテナの幅を最大に */
  /* max-width: 500px; ボタンのサイズに合わせる */
  margin: 20px auto; /* 中央配置 */
  padding: 10px;
}

#userName {
  font-size: 16px;
  color: #304060;
  margin-left: 10px;
  white-space: nowrap; /* ユーザー名が長くても改行しない */
}

#popupWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* max-height: 800px; */
  height: 100%;
  display: none;
  align-items: center;
  /* display: flex; */
  justify-content: center;
  z-index: 2000;
  overflow-y: auto;
}

#colorPopupWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.locationPopupWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2000;
}

#ButtonPopupWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

/* #modalPopupWrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
} */

#popupInside {
  width: 100%;
  /* height: 550px; */
  max-width: 450px;

  background-color: white; /* 不透明な背景色 */
  margin: 10% auto;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  z-index: 3000; /* ポップアップコンテンツのz-indexを設定 */
}

#colorPopupInside {
  width: 100%;
  height: 100px;
  max-width: 400px;

  background: white;
  margin: 10% auto;
  margin-top: 300px;
  margin-bottom: 30%;
  padding: 20px;
  position: relative;
  position: 30px;
  border-radius: 10px;
}

.locationPopupInside {
  width: 100%;
  height: 240px;
  max-width: 400px;

  background: white;
  margin: 20% auto;
  padding: 10px;
  position: relative;
  border-radius: 6px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#ButtonPopupInside {
  width: 100%;
  height: 240px;
  max-width: 400px;
  background: white;
  margin: 20% auto;
  padding: 30px;
  position: relative;
  border-radius: 6px;
  overflow-y: scroll; /* 縦方向のスクロールを有効にする */
}

.arrangeContainer {
  width: 70%;
  display: flex; /* フレックスボックスを使用 */
  flex-direction: column; /* 縦方向に配置 */
  align-items: center; /* 水平方向に中央揃え */
  justify-content: space-between; /* 垂直方向に中央揃え */
  height: 10px; /* 高さを指定（必要に応じて調整） */
}

.title {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

.dateTimeContainer {
  display: flex;
}

.dateContainer {
  /* width: 50%;*/
  display: flex;
  justify-content: space-between; /*要素間のスペースを均等に分配 */
  text-align: center;
}

.timeContainer {
  /* width: 50%; */
  /* display: flex; */
  justify-content: space-between; /* 要素間のスペースを均等に分配 */
}

.kara {
  /* display: flex; フレックスボックスを使用 */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
}

.border {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.buttonContainer {
  display: flex; /* フレックスボックスを使用 */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え（必要に応じて） */
  margin-top: 20px; /* 上部のマージンを設定（必要に応じて） */
}

.location {
  width: 80%;
  height: 60%;
}

.close {
  position: absolute;
  top: -8px;
  right: 8px;
  cursor: pointer;
  font-size: 35px;
}

#colorClose {
  position: absolute;
  top: -8px;
  right: 8px;
  cursor: pointer;
  font-size: 35px;
}

.locationClose {
  position: absolute;
  top: -8px;
  right: 8px;
  cursor: pointer;
  font-size: 35px;
}

#ButtonClose {
  position: absolute;
  top: -8px;
  right: 8px;
  cursor: pointer;
  font-size: 35px;
}

#inputContainer {
  text-align: center;
  height: 75%;
}

.taskTitle {
  width: 90%;
  margin: 10px;
}

.inputContainer {
  text-align: center;
  height: 80%;
}

.taskDiscription {
  height: 85%;
  width: 90%;
  margin-top: 10px;
}

.taskDemand {
  height: 85%;
  width: 90%;
  margin-top: 10px;
}

.taskDateDiscription {
  display: inline;
  margin-left: 20px;
  color: gray;
  font-size: 11px;
}

.taskTime {
  margin-left: 20px;
  width: 30%;
}

.taskDate {
  margin-left: 20px;
}

.taskColor {
  width: 28px;
  height: 28px;
  background-color: blue;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 10px;
}

.taskLocation img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.optionContainer {
  display: flex;
}

.Button {
  margin: 10px 20px;
}

#circleUpperLow {
  display: flex;
}

#circleLowerLow {
  display: flex;
}

.circles {
  margin: 30px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  margin-left: 20px;
  margin-top: 5px;
  justify-content: space-evenly;
}

#circleRed {
  background-color: red;
}

#circleBlue {
  background-color: blue;
}

#circleYellow {
  background-color: #FBD75B;
}

#circleGreen {
  background-color: green;
}

#circleOrange {
  background-color: orange;
}

#circlePurple {
  background-color: purple;
}

#circlePink {
  background-color: salmon;
}

#circleGray {
  background-color: gray;
}

#circleCyan {
  background-color: cyan;
}

#circleLightGreen {
  background-color: lightgreen;
}


#calendar-container {
  display: flex;
  justify-content: space-between; /* カレンダーの間にスペースを入れる */
  gap: 20px; /* カレンダーの間のギャップ */
  z-index: 1000;
  padding: 0 60px; 
}

/* カレンダーのサイズを調整 */
#calendar-day {
  width: 35%; /* 各カレンダーの幅を調整 */
}
#calendar-month{
  width: 55%;
}

.task-form {
  text-align: left; /* テキストやインライン要素の左揃え */
}
.task-separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}
.delete-task {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto; /* 上下 10px の余白を作りつつ中央揃え */
  background-color: transparent; /* 背景なし */
  color: red; /* 文字色 */
  border: 2px solid red; /* 枠線を追加 */
  width: 150px;
  height: 30px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
} 
.delete-task i {
  font-size: 20px; /* アイコンサイズ */
  color: red; /* アイコンの色 */
  vertical-align: middle; /* テキストとアイコンの高さを揃える */
  transition: color 0.2s;
}
.delete-task:hover {
  background-color: red;
  color: white;
}
.delete-task:hover i{
  color: white;
}
.addTaskButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  background-color: #475bd2;
  color: white;
  border: 0;
  padding: 6px 10px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.addTaskButton:hover {
  background-color: #3749a6; /* 少し暗い青に変更 */
}
#addMake {
  display: flex;
  justify-content: space-between; /* 両端に配置 */
  align-items: center; /* ボタンを縦方向中央揃え */
  width: 100%; /* 親コンテナの幅を最大に */
}
.make {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  background-color: #304060;
  color: white;
  border: 0;
  padding: 6px 10px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.make:hover {
  background-color: #405070;
}
#modal-description, #modal-location {
  display: flex;
  align-items: center; 
}
.make:disabled {
  opacity: 0.3; /* 半透明にする */
  cursor: not-allowed;/* カーソルを禁止マークに */
  background-color: #304060; /* 透明ではなく元の背景色を維持 */
  color: rgba(255, 255, 255, 0.5); /* 文字色も薄く */
  z-index: 0;
}
.nightTime {
  margin: 15px 5px 10px 20px;
  width: 16px;  /* チェックボックスの幅を大きく */
  height: 16px; /* チェックボックスの高さを大きく */
  cursor: pointer;
}
.locIcon {
  width: 30px;
  height: 30px;
  margin: 10px 0 10px 20px;
  transform: scale(1.5);
}